html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;

  font-family: 'Assistant', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  line-height: 1.6em;

  color: color(text);
  background: color(background);
}

::selection {
  color: color(background);
  @include themable(background);
}

figure {
  line-height: 0;
  display: inline-block;
  &.is-full-width {
    background: white;
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
  }
  &.lazyload {
    img {
      opacity: 0;
      &.is-loaded {
        @include easing(600ms, opacity);
        opacity: 1;
      }
    }
  }

  img {
    &:not([width]):not([height]) {
      width: 100%;
      height: auto;
    }
  }
}


main {
  a {
    @include themable(color);
    text-decoration: none;
    border-bottom: 1px solid transparent;

    @include easing(300ms, border-color);
    &:hover { border-color: inherit; }
  }

  h1 {
    font-size: 3rem;
    @include emdash(1em, 2rem);
  }
}


article {
  animation: fadeIn ease-out 1;
  animation-duration: 300ms;
  animation-fill-mode: forwards;

  color: color(text);

  header {
    .article-abstract {
      p, ul, ol {
        font-family: 'Assistant', sans-serif;
        font-weight: bold;
        margin-bottom: 2rem;
      }
    }
  }

  h2 {
    font-size: 3rem;
    margin: 2em 0 1em;
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 1em;
    font-weight: 600;
  }

  h4, h5, h6 {
    font-size: 2rem;
    font-weight: 600;
  }

  figure.is-full-width {
    margin-bottom: 1em;
    img {
      $frame-width: 1rem;
      outline: $frame-width solid white;
      outline-offset: -($frame-width - 0.1rem);
    }
  }

  figure.video {
    margin-bottom: 1em;

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;

    border: 1rem solid white;
    background: black;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0rem;
      left: 0rem;
    }
  }

  p > img {
    width: 100%;
    height: auto;
    border: 1rem solid white;
  }

  p, ul, ol, blockquote {
    font-family: 'Crimson Text', serif;
    font-size: 1.9rem;
    line-height: 1.4em;
    margin-bottom: 1em;
  }

  blockquote { padding-left: 2rem; }

  code {
    // Github style
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 75%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 0.3rem;
  }

  pre {
    width: 100%;
    overflow: auto;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border: 1rem solid white;

    & code {
      display: block;
      line-height: 1.4em;
      overflow: visible;
      min-width: 100%;
      background: none;
    }
  }

  hr {
    margin: 4rem 0;
    border: none;
    border-top: 3px solid;
    @include themable(border-color);
  }

  del {
    @include themable(text-decoration-color);
  }

  li > ul, li > ol { margin-bottom: 0; }

  ul {
    padding-left: 1.1em;
    list-style: square outside;
  }

  ol {
    list-style: decimal inside;
  }

  sup, sub {
    font-size: small;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup { top: -0.5em; }
  sub { bottom: -0.25em; }

  sup.footnote a { border: none; }

  .anchor {
    display: block;
    position: relative;
    // See index.js:smoothscroll.offset
    top: 0;
    // top: -16rem;
    visibility: hidden;
  }
}

article.article-member {
  header {
    margin-bottom: 2rem;
    figure {
      width: calc(50% - 4rem);
      img {
        $frame-width: 0.9rem;
        outline: $frame-width solid white;
        outline-offset: -($frame-width - 0.1rem);
      }
      @media (max-width: breakpoint(phone)) {
        width: 100%;
      }
      height: auto;
    }
  }
}
