body {}

.medium-zoom-image { z-index: 4 !important; }
.medium-zoom-overlay { z-index: 3; }

aside.sidebar {
  z-index: 2;
  position: fixed;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  width: 36rem;

  @media (min-width: breakpoint(phone)) and (max-width: breakpoint(tablet)) {
    @include sidebar-swipable();
  }

  @media (max-width: breakpoint(phone)) {
    @include sidebar-compact();
  }
}

nav.menu {
  z-index: 1;
  position: fixed;

  top: 0;
  padding-top: calc(1rem - 0.5em);
  left: 36rem;
  padding-left: 5rem;
  right: 17px;

  .links {
    width: 80ch;
    max-width: calc(100vw - 36rem - 5rem - 5rem);
  }

  @media (max-width: breakpoint(tablet)) {
    left: 0;
    right: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    .links {
      min-width: 100%;
    }
  }

  @media (max-width: breakpoint(phone)) {
    @include menu-app();
  }
}

main {
  position: absolute;
  top: calc(6rem + 5rem + 5rem - 2px);
  left: 36rem + 5rem;
  width: 80ch;
  max-width: calc(100vw - 36rem - 5rem - 5rem);
  margin-bottom: 6rem;

  min-height: calc(100% - (6rem + 5rem + 5rem - 2px + 6rem));

  display: flex;
  flex-direction: column;

  @media (max-width: breakpoint(tablet)) {
    left: 0;
    padding: 4rem;
    min-width: 100%;
  }

  @media (max-width: breakpoint(phone)) {
    top: 6rem;
    padding: 2rem;
    padding-bottom: 6rem;
    max-width: 100vw;
  }

  article {
    flex: 1;
    padding-bottom: 2rem;
  }

  aside.outside {
    position: relative;
    flex: 1;
    width: 100%;

    @include footnotes-show-number();

    // Reset footnotes.js position when no need
    @media (max-width: breakpoint(desktop)) {
      .footnotes {
        padding-bottom: 4rem;
      }
      li {
        top: 0 !important;
        position: relative !important;
      }
    }

    @media (min-width: breakpoint(desktop)) {
      @include footnotes-hide-backref();
      $width: 20rem;
      position: absolute;
      top: 0;
      right: calc(-#{$width} - 8rem);
      width: $width;

      .footnotes li {
        margin-top: 8rem;
        &:last-child {
          padding-bottom: 5rem;
        }
      }
    }
  }

  footer {
    color: color(gray);
    font-size: 1.4rem;
    line-height: 1.6em;
    margin-bottom: .5rem;
  }
}
