.gallery {
  list-style: none;
  line-height: 0;
  padding: 0;

  @media (min-width: breakpoint(phone)) {
    column-count: 2;
  }

  .gallery-item {
    .gallery-media {
      display: inline-block;
      margin: 0;
    }
  }
}
