.linkbox {
  position: relative;

  display: block;
  border: 1px solid;
  padding: 0.5rem calc(4px + 1.5ch);

  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.2em;

  max-height: 1.6rem * 2 + 0.5 * 1rem;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  opacity: 0.6;
  @include easing(300ms, opacity);
  &:hover,
  &.is-selected,
  &.is-active { opacity: 1; }

  &::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 0;
    bottom: 0;

    width: 2px;
    border-right: 1px solid;
  }

  &[data-depth="1"]::before {
    border-left: 1px solid;
  }
}
