.menu {
  border-top: 5rem solid color(background);
  background: ease-in-out-sine-gradient(color(background), transparent);

  padding-bottom: 10rem;
  pointer-events: none;

  .links {
    pointer-events: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .link {
      &:not(:last-child) { margin-right: 2rem; }
      @include applyTheme(a, color);
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.4rem;
        @include easing(300ms, color);
        &:not(:hover):not(.is-active) { color: color(text); }
      }
    }

    .link-icon {
      display: none;
      svg {
        padding: 1px;
        width: 100%;
        height: auto;
        fill: none;
        stroke: color(text);
      }
    }
  }

  .menu-mobile-toggle,
  .menu-mobile-toggle-label { display: none; }
}

// These mixins allow layout-control of this component via layout.scss

@mixin menu-icons () {
  .links {
    margin: 0 auto;
    line-height: 0;
    .link {
      opacity: 0;
      margin-bottom: 3rem;

      &:hover { @include applyTheme(svg, stroke); }
      .link-icon {
        display: block;
        margin: 0 auto;
        padding-bottom: 2rem;
        line-height: 0;

        width: 4rem;
        stroke-width: 0.5rem;
        svg { @include easing(300ms, stroke); }
      }
    }
  }
}
