.metas {
  font-size: 1.4rem;
  line-height: 1.4em;

  a { font-weight: bold; }

  .meta {
    position: relative;

    &[data-label]::before {
      content: attr(data-label);
      display: block;
      position: relative;
      left: 0;
      text-align: left;
      transform: none;

      color: color(gray) !important;
      font-weight: bold;
      text-transform: lowercase;
      font-variant: small-caps;
    }
  }
}
