.metas {
  font-size: 1.4rem;
  line-height: 1.4em;

  a { font-weight: bold; }

  .meta {
    position: relative;

    &[data-label]::before {
      content: attr(data-label);
      display: block;
      position: relative;
      left: 0;
      text-align: left;
      transform: none;

      color: color(gray) !important;
      font-weight: bold;
      text-transform: lowercase;
      font-variant: small-caps;
    }
  }


  @media (max-width: breakpoint(desktop)) {
    // Target :last-child instead of .metas container allows to target
    // only non-empty .metas containers
    .meta:last-child {
      padding-bottom: 4rem;
    }
  }
}
