.preview-product {
  display: inline-block;

  width: 100%;
  margin-bottom: 1rem;

  background: white;

  .preview-product-content {
    display: flex;

    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;

    .preview-product-cover {
      flex: none;
      width: 33.33%;
      img {
        @include easing(300ms, filter);
        filter: grayscale(1);
        width: 100%;
        height: auto;
      }
    }

    .preview-product-infos {
      flex: 1;

      display: flex;
      flex-direction: column;

      padding: 0 1rem;

      color: color(text);
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.2em;

      .preview-product-info-name {
        line-height: initial;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
      }

      .preview-product-info-description {
        flex: 1;
        border-top: 1px solid color(text);
        padding-top: 1rem;
        margin-top: 1rem;
      }
    }
  }

  &:hover img { filter: none!important; }
}
