.preview-partner {
  $margin: 1rem;
  display: inline-block;

  @media (min-width: breakpoint(tablet)) { @include grid(4, $margin); }
  @media (max-width: breakpoint(tablet)) { @include grid(3, $margin); }
  @media (max-width: breakpoint(phone)) { @include grid(2, $margin); }

  margin-right: $margin;
  margin-bottom: $margin;

  background: white;

  @media (min-width: breakpoint(phone)) {
    outline: 2px solid transparent;
    @include easing(300ms, outline-color);
    &:hover { @include themable(outline-color); }
  }

  .preview-partner-content {
    width: 100%;
    padding: 1rem;
    border: none;
  }

  .preview-partner-cover {
    img {
      filter: grayscale(1);
      width: 100%;
      height: auto;
    }
  }
}
