.preview-event {
  display: inline-block;

  width: 100%;
  margin-bottom: 1rem;

  background: white;

  .preview-event-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;

    .preview-event-cover {
      float: left;
      margin-bottom: 1rem;
      @include clearfix;

      position: relative;
      width: 33.33%;
      height: 0;
      padding-bottom: 33.33%;

      border: 2px solid;
      @include themable(border-color);

      .preview-event-cover-content {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }

      .preview-event-date {
        font-size: 2.8rem;
        font-weight: bold;
      }

      .preview-event-tag {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .preview-event-body {
      flex: 1;
      display: flex;
      flex-direction: column;

      padding: 1rem 2rem;

      color: color(text);
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.2em;

      header.preview-event-header {
        .preview-event-title {
          text-transform: uppercase;
          font-size: 2.8rem;
          line-height: 1.2em;
          margin-bottom: 1rem;
        }
        .preview-event-metas {
          @media (min-width: breakpoint(phone)) {column-count: 2; }

          .preview-event-meta {
            display: inline-block;
            width: 100%;
            margin-bottom: 0.4em;

            &[data-label]::before {
              content: attr(data-label);
              font-weight: bold;
              color: color(gray);
              text-transform: lowercase;
              font-variant: small-caps;
            }
          }
        }
      }

      .preview-event-content {
        flex: 1;
        margin-top: 1rem;
        font-weight: normal;
        line-height: 1.4em;
      }
    }
  }

  &.is-past {
    .preview-event-container {
      opacity: 0.3;
      &:hover { opacity: 1; }
      @include easing(300ms, opacity);
    }
  }
}


@media (max-width: breakpoint(phone)) {
  .preview-event {
    margin-bottom: 2rem;
    .preview-event-container {
      flex-direction: column;

      .preview-event-cover {
        float: none;
        width: 100%;
        height: auto;
        border: none;
        border-bottom: 2px solid;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

        &::before { display: none; }
        .preview-event-cover-content {
          position: relative;
          text-align: left;
          transform: none;
          line-height: 1.2em;

          .preview-event-date {
            font-size: 2rem;
            font-weight: bold;
          }

          .preview-event-tag {
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }

      .preview-event-body{
        padding: 0;
      }
    }
  }
}
