.preview-event {
  display: inline-block;

  width: 100%;
  margin-bottom: 1rem;

  background: white;

  .preview-event-container {
    display: flex;

    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;

    .preview-event-cover {
      position: relative;
      flex: none;
      width: 33.33%;
      @include ratio(1);

      border: 2px solid;
      @include themable(border-color);

      .preview-event-cover-content {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }

      .preview-event-tag {
        font-size: 2.6rem;
        text-transform: uppercase;
      }
    }

    .preview-event-body {
      flex: 1;

      display: flex;
      flex-direction: column;

      padding: 0 1rem;

      color: color(text);
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.2em;

      header.preview-event-header {

      }

      .preview-event-content {
        flex: 1;
        border-top: 1px solid color(gray);

        padding-top: 1rem;
        margin-top: 1rem;
      }

      .preview-event-title {
        text-transform: uppercase;
        margin-bottom: 1em;
      }

      .preview-event-meta {
        position: relative;
        margin-left: 2rem;
        margin-bottom: 0.5em;
        svg {
          position: absolute;
          top: 0.125em;
          left: 0;
          fill: none;
          stroke: color(gray);
          stroke-width: 1rem;

          height: 1em;
          width: auto;
          padding: 1px;
          transform: translateX(calc(-100% - 1ch));
        }
      }
    }
  }

  &.is-past {
    .preview-event-container {
      opacity: 0.3;
      &:hover { opacity: 1; }
      @include easing(300ms, opacity);
    }
  }
}
