.preview-partner {
  $margin: 1rem;
  display: inline-block;

  @media (min-width: breakpoint(tablet)) { @include grid(4, $margin); }
  @media (max-width: breakpoint(tablet)) { @include grid(2, $margin); }
  @media (max-width: breakpoint(phone)) { @include grid(1, $margin); }

  margin-right: $margin;
  margin-bottom: $margin;

  background: white;
  filter: grayscale(1);
  @include easing(300ms, filter);
  &:hover { filter: none }

  .preview-partner-content {
    width: 100%;
    padding: 1rem;
    border: none;
  }

  .preview-partner-cover {
    img {
      width: 100%;
      height: auto;
    }
  }
}
