.sidebar {
  @include themable(background);

  color: color(background);
  padding: 6rem 8rem;

  display: flex;
  flex-direction: column;

  p > a {
    color: color(background);

    @include easing(300ms, border-color);
    &:hover { border-color: transparent; }
  }

  header {
    .sidebar-icon {
      position: relative;
      width: 5rem;
      height: auto;
      margin-bottom: 4rem;
      line-height: 0;

      a {
        // increase link bounding box to prevent misclick
        padding: 2rem;
        margin-left: -2rem;
        box-sizing: initial;
      }

      svg {
        width: 100%;
        height: auto;
        fill: none;
        stroke: color(background);
        stroke-width: 0.6rem;
        * {
          stroke-dasharray: 0 1000;
          animation: dash 600ms ease-in forwards;
          animation-delay: 100ms;
        }
      }

      .sidebar-icon-back-arrow {
        position: absolute;
        left: calc(-50% - 2px);
        height: 100%;
        @include easing(300ms, transform);
        svg {
          padding: 1px;
          height: 100%;
          width: auto;
        }
      }

      &:hover .sidebar-icon-back-arrow {
        transform: translateX(-0.5rem);
      }
    }

    .sidebar-title {
      a#goTop {
        pointer-events: none;
        color: white;
        text-decoration: none;
      }
      font-size: 2.8rem;
      margin: 0;
      text-transform: uppercase;
      position: relative;
      @include emdash(1em, 0);
    }
  }

  .sidebar-abstract {
    margin-top: 2.8rem;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2em;
  }

  .sidebar-metas {
    display: flex;
    flex-wrap: wrap;

    .sidebar-meta {
      min-width: 50%;

      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.2em;

      padding-top: 1.5rem;
      width: 100%;
      @include emdash(1.5rem, 0, 2.8rem);

      &[data-label]::before {
        content: attr(data-label);
        font-weight: bold;
        opacity: 0.7;
        text-transform: lowercase;
        font-variant: small-caps;
      }
    }
  }

  .sidebar-scroll-wrapper {
    flex: 1;
    position: relative;
    margin-bottom: 1rem;
    overflow-x: hidden; // hide scrollbar

    .sidebar-scroll-content {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;

      // Using pseudo-element instead of padding-bottom,
      // because Firefox / Safari don't like padding-bottom
      // inside flex container
      &::after {
        content: '';
        display: block;
        height: 4rem;
      }

      overflow-y: scroll;

      // overflow scrollbar
      box-sizing: content-box;
      padding-right: 17px;
    }
  }

  .internal-navigation-link:not(:last-child) {
    margin-bottom: 1rem;
  }

  footer {
    padding-top: 3rem;
    .social-link svg {
      fill: color(background);
    }
  }
}

// These mixins allow layout-control of this component via layout.scss

@mixin sidebar-swipable () {
  @include easing(300ms, transform);
  will-change: transform;
  transform: translateX(calc(-100% + 1.5rem));

  // Extend the hitbox to prevent weird :hover effect
  left: 0rem;
  border-left: 1rem solid color(background);

  &:hover { transform: none; }
  &::after {
    @include themable(background);
    content:'\2630';
    font-size: 2rem;
    position: absolute;
    top: 20.7rem;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
}

@mixin sidebar-compact () {
  position: relative;
  top: 0;
  left: 0;
  bottom: initial;
  width: 100%;
  padding: 0;

  padding-top: 1rem * 2 + 2rem;

  .sidebar-icon,
  .sidebar-title::after,
  .sidebar-footer,
  .sidebar-filters,
  .toc { display: none; }

  .sidebar-title {
    a#goTop { pointer-events: auto; }
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    padding-right: 6rem;
    @include themable(background);
    font-size: 2rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .sidebar-scroll-wrapper {
    padding: 0 2rem 2rem 2rem;
    .sidebar-scroll-content {
      position: relative;
      height: auto;
      &::after { display: none; }
    }
  }
}
