.sidebar {
  @include themable(background);

  color: color(background);
  padding: 6rem 8rem;

  display: flex;
  flex-direction: column;

  p > a {
    color: color(background);
    text-decoration: none;
    border-bottom: 1px solid;

    @include easing(300ms, border-color);
    &:hover { border-color: transparent; }
  }

  header {
    .sidebar-icon {
      position: relative;
      width: 5rem;
      height: auto;
      margin-bottom: 4rem;
      line-height: 0;

      a {
        // increase link bounding box to prevent misclick
        padding: 2rem;
        margin-left: -2rem;
        box-sizing: initial;
      }

      svg {
        width: 100%;
        height: auto;
        fill: none;
        stroke: color(background);
        stroke-width: 0.6rem;
        * {
          stroke-dasharray: 0 1000;
          animation: dash 600ms ease-in forwards;
          animation-delay: 100ms;
        }
      }

      .sidebar-icon-back-arrow {
        position: absolute;
        left: calc(-50% - 2px);
        height: 100%;
        @include easing(300ms, transform);
        svg {
          padding: 1px;
          height: 100%;
          width: auto;
        }
      }

      &:hover .sidebar-icon-back-arrow {
        transform: translateX(-0.5rem);
      }
    }

    .sidebar-title {
      font-size: 2.8rem;
      margin: 0;
      text-transform: uppercase;
      position: relative;
      @include emdash(1em, 0);
    }
  }

  .sidebar-abstract {
    margin-top: 2.8rem;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.2em;
  }

  .sidebar-metas {
    display: flex;
    flex-wrap: wrap;

    .sidebar-meta {
      min-width: 50%;

      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.2em;

      padding-top: 1.5rem;
      width: 100%;
      @include emdash(1.5rem, 0, 2.8rem);

      &[data-label]::before {
        content: attr(data-label);
        font-weight: bold;
        opacity: 0.7;
        text-transform: lowercase;
        font-variant: small-caps;
      }
    }
  }

  .sidebar-mobile-expand-wrapper {
    position: relative;
    flex: 1;

    .sidebar-scroll-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 1rem;
      overflow-x: hidden; // hide scrollbar

      .sidebar-scroll-content {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;

        // Using pseudo-element instead of padding-bottom,
        // because Firefox / Safari don't like padding-bottom
        // inside flex container
        &::after {
          content: '';
          display: block;
          height: 4rem;
        }

        overflow-y: scroll;

        // overflow scrollbar
        box-sizing: content-box;
        padding-right: 17px;
      }
    }

    .internal-navigation-link:not(:last-child) {
      margin-bottom: 1rem;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-top: 3rem;
      @include themable(background);
      .social-link svg {
        fill: color(background);
      }
    }
  }

  .sidebar-mobile-toggle-expand,
  .sidebar-mobile-toggle-expand-label { display: none; }
}

// These mixins allow layout-control of this component via layout.scss

@mixin sidebar-swipable () {
  @include easing(300ms, transform);
  will-change: transform;
  transform: translateX(calc(-100% + 1.5rem));

  // Extend the hitbox to prevent weird :hover effect
  left: 0rem;
  border-left: 1rem solid color(background);

  &:hover { transform: none; }
  &::after {
    @include themable(background);
    content:'\2630';
    font-size: 2rem;
    position: absolute;
    top: 20.7rem;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
}

@mixin sidebar-compact () {
  top: 0;
  left: 0;
  bottom: initial;
  width: 100%;

  padding: 0;
  background: none!important;

  .sidebar-title {
    position: relative;
    z-index: 1;
    padding: 1rem 2rem;
    font-size: 2rem;
    @include themable(background);
  }

  .sidebar-mobile-expand-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2rem 2rem;

    @include easing(300ms, transform);
    transform: translateY(-100%);

    @include themable(background);

    .sidebar-scroll-wrapper {
      position: relative;
      max-height: 40vh;
      .sidebar-scroll-content {
        padding-bottom: 0;
        position: relative;

        .sidebar-abstract { margin-top: 0; }
        .sidebar-metas ~ .sidebar-abstract { margin-top: 2.8rem; }
      }
    }
  }

  &[mobile-expandable] {
    .sidebar-mobile-toggle-expand-label {
      z-index: 2;
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      height: 5rem;
    }

    .sidebar-title::before {
      content: '☰';
      position: absolute;
      display: inline-block;
      top: 1rem;
      right: 2rem;
      @include easing(300ms, transform);
      transform: rotate(0deg);
    }

    .sidebar-mobile-toggle-expand:checked {
      & ~ .sidebar-mobile-toggle-expand-label-overlay {
        position: fixed;
        display: block;
        top: 6rem;
        left: 0;
        right: 0;
        bottom: 5rem;
      }

      & ~ .sidebar-header .sidebar-title::before {
        transform: rotate(-90deg);
      }
      & ~ .sidebar-mobile-expand-wrapper {
        transform: translateY(5rem);
      }
    }
  }

  .sidebar-footer {
    position: relative;
    .social-links {
      width: 50%;
      float: right;
    }
  }

  .sidebar-icon,
  .sidebar-title::after,
  // .sidebar-metas,
  .toc { display: none; }
}
