.social-links {
  list-style: none;
  display: flex;
  justify-content: space-between;

  .social-link {
    display: block;
    line-height: 0;
    min-width: 1em;
    height: 1em;
    text-align: center;

    svg {
      padding: 1px;
      height: 100%;
      width: auto;

      stroke: none;
      fill: color(text);

      opacity: 0.6;
      @include easing(300ms, opacity);
    }

    &.is-active,
    &:hover {
      svg { opacity: 1; }
    }
  }
}
