$timeline: (
  icons: (0, 600),
  link: (0, 300),
  baseline: (300, 900),
  hometext: (300, 900),
  footer: (900, 300)
);

@function delay ($key) { @return nth(map-get($timeline, $key), 1); }
@function duration ($key) { @return nth(map-get($timeline, $key), 2); }

.splashscreen {
  .menu-mobile-toggle-label {
    color: color(text);
  }

  .menu {
    left: 0;
    right: 0;
    @media (min-width: breakpoint(tablet)) { padding-left: 0; }

    @for $i from 0 through 20 {
      .link:nth-of-type(#{$i}) {
        animation: fallIn #{duration(icons)}ms ease forwards;
        animation-delay: #{$i * 100}ms;

        .link-icon {
          stroke-dasharray: 0 1000;
          animation: dash #{duration(icons)}ms ease-in forwards;
          animation-delay: #{delay(icons) + $i * 100}ms;
        }
      }
    }

    @media (min-width: breakpoint(phone)) {
      @include menu-icons();
    }
  }

  .splashscreen-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    top: 15rem;
    left: 10%;
    right: 10%;
    bottom: 15rem;
  }

  .splashscreen-logo {
    line-height: 0;
    width: 10vmax;
    @media (max-width: breakpoint(phone)) {
      width: 30vmax;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .splashscreen-baseline {
    opacity: 0;
    animation: fallIn #{duration(baseline)}ms ease forwards;
    animation-delay: #{delay(baseline)}ms;

    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .splashscreen-hometext {
    opacity: 0;
    animation: fallIn #{duration(hometext)}ms ease forwards;
    animation-delay: #{delay(hometext)}ms;

    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: normal;
  }

  footer.splashscreen-footer {
    position: absolute;
    left: 50%;
    bottom: 7rem;
    transform: translateX(-50%);
    width: 20rem;

    li { opacity: 0; }

    @for $i from 0 through 20 {
      li:nth-of-type(#{$i}) {
        animation: fallIn #{duration(footer)}ms ease forwards;
        animation-delay: #{delay(footer) + $i * 100}ms;
      }
    }

    svg {
      opacity: 0.8;
    }

    @media (max-width: breakpoint(phone)) {
      display: none;
    }
  }
}
