$timeline: (
  icons: (0, 600),
  link: (0, 300),
  baseline: (600, 900),
  footer: (900, 300)
);

@function delay ($key) { @return nth(map-get($timeline, $key), 1); }
@function duration ($key) { @return nth(map-get($timeline, $key), 2); }

.splashscreen {
  .menu {
    left: 0;
    right: 0;
    @media (min-width: breakpoint(tablet)) { padding-left: 0; }

    @for $i from 0 through 20 {
      .link:nth-of-type(#{$i}) {
        animation: fallIn #{duration(icons)}ms ease forwards;
        animation-delay: #{$i * 100}ms;

        .link-icon {
          stroke-dasharray: 0 1000;
          animation: dash #{duration(icons)}ms ease-in forwards;
          animation-delay: #{delay(icons) + $i * 100}ms;
        }
      }
    }

    @media (min-width: breakpoint(phone)) {
      @include menu-icons();
    }

    @media (max-width: breakpoint(phone)) {
      @include menu-app();
      border-top: none;
    }
  }

  .splashscreen-logo {
    position: fixed;

    $size: 10vmax;
    top: calc(45% - #{$size / 2});
    left: calc(50% - #{$size / 2});
    width: $size;

    @media (max-width: breakpoint(phone)) {
      $size: 30vmax;
      top: calc(45% - #{$size / 2});
      left: calc(50% - #{$size / 2});
      width: $size;
    }

    height: auto;
    line-height: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .splashscreen-baseline {
    opacity: 0;

    animation: fallIn #{duration(baseline)}ms ease forwards;
    animation-delay: #{delay(baseline)}ms;

    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    bottom: 20%;

    @media (max-width: breakpoint(phone)) {
      bottom: calc(50% - 20vmax);
    }

    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  footer.splashscreen-footer {
    position: absolute;
    left: 50%;
    bottom: 7rem;
    transform: translateX(-50%);
    width: 20rem;

    li { opacity: 0; }

    @for $i from 0 through 20 {
      li:nth-of-type(#{$i}) {
        animation: fallIn #{duration(footer)}ms ease forwards;
        animation-delay: #{delay(footer) + $i * 100}ms;
      }
    }

    svg {
      opacity: 0.8;
    }

    @media (max-width: breakpoint(phone)) {
      display: none;
    }
  }
}
